/* место для вашего кода */

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 293px;
}
.header .nav-list {
  display: flex;
  list-style: none;
  gap:30px;
}
.info-list {
  list-style: none;
}

.mainpageLink {
  text-decoration: none;
}

.main .cover{
  background-image: url("/images/cover.jpg");
  height: 757px;
}

.blocks{
  display: flex;
}
.about{
  display:flex;
}
.logo-column{
  background-color:black;
}
.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 180px;
}

.footer .nav-list {
  display: flex;
  list-style: none;
  gap:30px;
}
.footer .social-links{
  display: flex;
  list-style: none;
  gap:30px;
}
